<style>
    .place-title {
        background-color: rgb(255, 255, 255);
        text-align: center;
    }

    .place-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        height: auto;
        align-self: center;
    }

    .detail {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }
</style>

{% extends 'base.html' %}
{% load static %}
{% block content%}
<br>
<br>
<br>
<div class="place-title">
    <h1>Cupones </h1>

    <h2>Esta pagina es para cargar nuevos cupones </h2>
</div>
{{error}}
<!-- Formulario-->
<hr>
<div class="mx-auto" style="width: 750px;">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input class="btn btn-primary" type="submit" name="Submit">
        <a class="btn btn-success" href="{% url 'place_detail' place.state place.slug  %}"> Finish</a>


        <!--
<h1> Este es un formulario HTML </h1>


<input type="hidden" id="#" name="#" value="">

<label for="#">Elije una Categoria:</label>
<input list="#" name="#">
    <datalist id="#">
    {% for obj in obj_list %}
        <option value="{{obj.fs_category}}">
        
    {% endfor %}
    </datalist>

<br>
<input type="hidden" id="#" name="#" value="1">
<br>
<label for="#">Titulo de Producto / Servicio:</label>
    <input type="text" id="#" name="#">
<br>
<label for="#">Descripcion de Producto / Servicio:</label>
    <textarea name="message" rows="5" cols="30"></textarea>
<br>
<label for="myfile">Descripcion de Producto / Servicio:</label>
    <input type="file" id="myfile" name="myfile">
    <p><small>La imagen debe ser <mark style="background-color: yellow;">"720px x 405px  y debe estar comprimida</mark></small></p>
<br>
<label for="#">Precio de Producto / Servicio:</label>
    <input type="text" id="#" name="#">
<br>
<input type="submit" name="Submit">

    Listado de elementos-->



    </form>
</div>
<hr>

<div class="container" style="width: 850px; margin:auto; padding: 0px;">
    <h1 class="text-center">Agregar Cupones en {{place}}</h1>
    <br>
    <div class="" >
        <table class="table table-hover">
            <thead>
                <tr>
                    
                    <th class="text-center align-middle">Numero Cupon</th>
                    <th class="text-center align-middle">Titulo</th>
                    <th class="text-center align-middle">Descripcion</th>
                    <th class="text-center align-middle">Restaurante</th>
                    <th class="text-center align-middle">Eliminar</th>
                </tr>
            </thead>
            {% for obj in obj_list %}
            <tbody>
                <tr>
                    
                    <td class="text-center align-middle"><a href={% url 'edit_product' place.state place.slug obj.id %}>
                    # {{obj.number}}</a></td>
                    <td class="text-center align-middle">{{obj.title}}</td>
                    <td class="text-center align-middle">{{obj.description}}</td>
                    <td class="text-center align-middle">{{obj.restaurant}}</td>
                    
                    <td class="text-center align-middle">
                        <form method="POST" action="{% url 'delete_cupon' obj.id %}">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                    </td>

                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    <br>


</div>




{% endblock %}