<style>
    details {
        background-color: rgba(150, 150, 150, 0.1);
        margin: 5px auto;
        padding: 0px;
        position: relative;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 15px;
    }

    summary {
        display: block;
        list-style: none;
        justify-content: space-between;
        letter-spacing: 2px;
        font-weight: 500;
        cursor: pointer;
    }

    summary::marker,
    summary::-webkit-details-marker {
        display: none;
    }
    .map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}
</style>
{% extends 'base.html' %}


{% load static %}

{% block content %}




<!-- Informacion de Sitio -->
<div class="jumbotron text-center"
    style="background-color: rgba(255, 255, 255, .2); max-width: 50rem; margin:auto; padding: 10; ">


    <div class="place-logo">
        <a href="#">
            {% if place.logo %}
            <img src="{{ place.logo.url }}" alt="..." class="img-fluid ">
            {% else %}
            <h1 class="place-title"> {{place.title}} </h1>
            {% endif %}
        </a>
    </div>

    <!-- Letrero para inscribirse-->
    {% if user.is_authenticated %}
    {% else %}
    <div
        style="background-color: rgba(64, 85, 178, 0.774); width: 300px; height: 350px; border-radius: 25px; margin: auto; border: 2px solid rgba(44, 68, 175, 0.932); color: #ffffff;">
        <div style="font-size: 18px; font-family: sans-serif; color: #ffffff;">
            <h3 style="text-align: center; color: #ffffff;">Welcome to Discounts City</h3>
            <div style="font-size: 30px; font-family: 'Lucida Sans', sans-serif; text-align: center;">Only $1.99 per
                Month</div>
            <ul style="list-style-type: none;">
                <li>Discounts city <strong>membership</strong></li>
                <li>Restaurant's <strong>discounts</strong></li>
                <li>Service's <strong>discounts</strong></li>
                <li>Special <strong>offers</strong></li>
            </ul>
            <h3 style="color: #ffffff; text-align: center;"><em><strong><a style="color: #ffffff;"
                            href="{% url 'signupuser'%}">Register now</a></strong></em></h3>

        </div>
    </div>
    {% endif %}






    <!-- Botones descuentos -->
    <div class="container">
        {% if user.is_authenticated %}
        <h2 style="font-size:40px; margin: 10px;">Descuentos de {{place.title}}</h2>
        <div class="list-group">
            {% for c in cupones %}
            <button class="btn btn-primary-outline" type="button" data-toggle="modal"
                data-target="#cupon_discount{{c.id}}">
                {% if c.used %} <a class="list-group-item list-group-item-danger"> {% else %} <a
                        class="list-group-item list-group-item-info"> {% endif %}
                        #{{c.cupon.number}} - {{c.cupon.title}}
                        <br><small>{{c.cupon.description}} </small>
                    </a>
            </button>
            <!-- Modal -->
            <div class="modal fade" id="cupon_discount{{c.id}}" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Discounts City</h4>
                        </div>
                        {% if c.used %}
                        <div class="modal-body">

                            <p>Sorry, you already use this coupon.
                                <br>Remember you can use it again till next month :D
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        {% else %}
                        <div class="modal-body">
                            <h4>Enjoy the discount #{{c.cupon.number}} </h4><br> {{c.cupon.title}}
                            <br><small>{{c.cupon.description}} </small>
                            </a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <form method="POST" action="{% url 'get_discount' c.id %}">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">
                                    Confirm
                                </button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
    {% endif %}
    <br /><br />




    <!-- Datos del restaurante -->
    <div class="container" style="max-width: 50rem; margin:0;">
        <div class="list-group">
            <div type="" class="list-group-item" data-toggle="collapse" data-target="#servicehours">
                <i class="bi bi-calendar2-week "></i>
                {{place.title}}
                Service Hours
            </div>
            <div id="servicehours" class="collapse text-center" style="width: auto; margin:auto; ">
                {{place.horario | safe |center:"15"}}
            </div>


            <div type="" class="list-group-item" data-toggle="collapse" data-target="#location">
                <i class="bi bi-geo-alt"></i>{{place.title}}
                Location
            </div>
            <div id="location" class=" collapse text-center" style="width: auto; margin:auto; ">
                
                    {{place.location | safe}}
                
            </div>


        </div>
    </div>
</div>


<!-- Informacion de MENU -->
<div class="container" style="max-width: 50rem; margin:auto;">
    <h1 style="font-size:40px;">{{place.title}} Menu </h1>



    {% for i in cat_menu %}


    <details>
        <summary>
            <div class="card-title">

                <h2 style=" margin: 7px;" class="font-weight-bold" style="letter-spacing: 2px;"> {{i}} </h2>

            </div>
        </summary>


        {% for fs in cat_menu_detail %}
        {% if fs.product_category == i%}
        <div class="text-center">
            <h4><em>{{fs.product_category_detail}}</em> </h4>
        </div>
        {% endif %}
        {% endfor %}



        {% for fs in food_services %}

        {% if fs.product_category == i%}

        <div class="card bg-light text-dark" style="max-width: 50rem; margin:auto; border-radius: 10px;  margin-top: 10px;">
            <div class="card-body" style="padding-left: 15; padding-right: 15;">
                <!--  Elemento de Menu 1-->
                <div class="card-title text-center">
                    <h3 style=" margin: 0px;">{{fs.product_name}} </h3>
                </div>
                <!--<div class="foodcontenido">-->
                <div class="card-text">
                    <p><em>{{fs.product_description}}</em></p>
                </div>

                {% if fs.product_image %}

                <div> <img src="{{fs.product_image.url}}" class="img-fluid" alt="THE BEST FOOD" /> </div>

                {% endif %}

                <div class="text-right">
                    <p style=" margin: 0px;"><strong>${{fs.product_price}}</strong></p>
                </div>
            </div>
        </div>

        {% endif %}
        {% endfor %}

    </details>
    {% endfor %}

    <hr>
    <div class="" style="  margin:auto; padding: auto;">
        <button type="button" class=" btn btn-success btn-lg" style="width: 100%;">
            <a href="tel:+{{place.phone_number}}" style="color: rgb(0, 0, 0); ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-telephone-forward" viewBox="0 0 16 16">
                    <path
                        d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm10.762.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708z" />
                </svg>
                Call {{place.title|truncatechars:25}} on {{place.city}} </a></button>
    </div>

</div> <br />
</div> <br />


{% endblock %}