{% extends 'base.html' %}


{% block content %}


<div class="card text-center" style="max-width: 60rem; margin:auto;">

    <div class="card-body">
        <h1>soy un home</h1>
        <br> tu quien eres ? 
        <h3>{{user_membership}} <br>
        {{user_subscription.active}}</h3>
        {{select_membership}}
        <button class="btn btn-outline-success bg-light"><a class="nav-link  text-black" href="{% url 'discounts_places' %}">Discounts Places</a></button>


    </div>
</div>
<br><br><br>



{% endblock %}