{% extends 'base.html' %} {% load static %} {% block content %}
<style>
    {
        % static '/css/playfair-display.css' %
    }
    
    .hero-image {
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-top: -20px;
    }
    
    .hero-text {
        margin: auto;
        max-width: 60rem;
        position: absolute;
        top: 80px;
        left: 20px;
        right: 20px;
    }
    
    .hero-titles {
        border-radius: 15px;
        border: 1;
        margin: 0;
        padding: 5px;
        background: rgba(255, 255, 255, 0.8);
    }
    
    .boton-magico {
        width: 40px;
        height: 40px;
        font-size: 40px;
        line-height: 1;
        margin-bottom: 24px;
        margin: auto;
    }
    
    .navtext-button {
        color: rgb(255, 255, 255);
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    #navbar a:hover {
        background-color: #ddd;
        color: black;
    }
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .sticky+.content {
        padding-top: 60px;
    }
    
    .boton-magico {
        color: #10bb87;
    }
    
    .boton-magico-btn {
        color: #000;
        font-size: 16px;
        font-weight: bold;
        width: 145px;
        height: 45px;
        border-radius: 22.5px;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-pack: center;
        justify-content: center;
    }
    
    .boton-magico .boton-magico-btn {
        background-color: #10bb87;
        color: #fff;
    }
    
    .boton-magico .boton-magico-btn:hover {
        box-shadow: 0 3px 0 0 #0a7554;
    }
    
    .boton-magico .boton-magico-btn:active {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
        box-shadow: none;
    }
    
    .container-precios {
        background-color: #e9e9e9;
        margin: auto;
        margin-top: -20px;
    }
    
    .pricing-card {
        border: 1;
        border-radius: 10px;
        margin-bottom: 40px;
        text-align: center;
        -webkit-transition: all 0.6s;
        transition: all 0.6s;
    }
    
    .pricing-card:hover {
        box-shadow: 0 2px 40px 0 rgba(205, 205, 205, 0.55);
    }
    
    .pricing-card.pricing-card-highlighted {
        box-shadow: 0 2px 40px 0 rgba(205, 205, 205, 0.55);
    }
    
    .pricing-card:hover {
        box-shadow: 0 2px 40px 0 rgba(205, 205, 205, 0.55);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    
    .pricing-card .card-body {
        padding-top: 55px;
        padding-bottom: 62px;
    }
    
    .pricing-plan-title {
        font-size: 30px;
        color: #000;
        margin-bottom: 11px;
        font-weight: normal;
    }
    
    .pricing-plan-cost {
        font-size: 40px;
        color: #000;
        font-weight: bold;
        margin-bottom: 29px;
    }
    
    .pricing-plan-icon {
        display: inline-block;
        margin-bottom: 54px;
    }
    
    .pricing-plan-enterprise .pricing-plan-icon {
        color: #5d78ff;
    }
    
    .pricing-plan-features {
        list-style: none;
        padding-left: 0;
        font-size: 14px;
        line-height: 2.14;
        margin-bottom: 35px;
        color: #303132;
    }
    
    .pricing-plan-purchase-btn {
        color: #000;
        font-size: 16px;
        font-weight: bold;
        width: 145px;
        height: 45px;
        border-radius: 22.5px;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-pack: center;
        justify-content: center;
    }
    
    .pricing-plan-enterprise .pricing-plan-purchase-btn {
        background-color: #5d78ff;
        color: #fff;
    }
    
    .pricing-plan-enterprise .pricing-plan-purchase-btn:hover {
        box-shadow: 0 3px 0 0 #1138ff;
    }
    
    .pricing-plan-enterprise .pricing-plan-purchase-btn:active {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
        box-shadow: none;
    }
    
    section {
        padding-top: 4rem;
        width: 50%;
        margin: auto;
    }
    
    details[open] summary~* {
        animation: open 0.3s ease-in-out;
    }
    
    @keyframes open {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    details summary::-webkit-details-marker {
        display: none;
    }
    
    details summary {
        width: 100%;
        padding: 0.5rem 0;
        border-top: 1px solid black;
        position: relative;
        cursor: pointer;
        font-size: 20px;
        font-weight: 300;
        list-style: none;
    }
    
    details summary:after {
        content: "+";
        color: black;
        position: absolute;
        font-size: 30px;
        line-height: 0;
        margin-top: 0.75rem;
        right: 0;
        font-weight: 200;
        transform-origin: center;
        transition: 200ms linear;
    }
    
    details[open] summary:after {
        transform: rotate(45deg);
        font-size: 3rem;
    }
    
    details summary {
        outline: 0;
    }
    
    details p {
        font-size: 15px;
        margin: 0 0 1rem;
        padding-top: 1rem;
    }
    
    .navbar-nav>li>a {
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: baseline;
    }
</style>



<!------HERO de discount city ----------->

<div class="hero-image" id="header-section" style="background-image: linear-gradient(rgba(116, 151, 190, 0.5), rgba(116, 151, 190, 0.5)), url({% static 'image/mapa-discounts-citys.jpg' %});
background-color: rgba(45, 45, 45, .55);">
    <div class="hero-text">
        <div class="hero-titles">
            <h1 class="text-center" style="font-size: 32px; margin:0;">WELCOME TO DISCOUNTS CITY</h1>
            <h4 class="text-center" style="font-size: 16px; margin:0;">MORE VALUE FOR YOU</h4>
        </div>

        <br>
        <div class="boton-magico">
            <a class="nav-link  text-black btn boton-magico-btn" href="{% url 'discounts_places' %}">Discounts
                Places</a>
        </div>
    </div>

    <br>
</div>
<!---- Navigation Home -->
<nav id="navbar" style="margin:0; " class="navbar navbar-expand-md bg-secondary sticky-top">
    <div class="container-fluid">
        <!-- Menu Logo-->
        <div class="navbar-header ">

            <a class="display-5 navbar-brand" style="padding:0" href="{% url 'discounts_places' %}"><img src="{% static 'image/logo-new.png' %}" alt="" style="height: 40px;"></a>
        </div>

        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <i class="fas fa-bars fa-2x"></i>
                
            </button>

        </div>

        <!-- Menu Admin-->

        <div class="collapse navbar-collapse " id="myNavbar">

            <!-- Menu User-->
            <ul class="nav navbar-nav justify-content-end ">
                <li class="nav-item navtext-button">
                    <a class="nav-link " style="color:rgb(255, 255, 255);" href="{% url 'homepage' %}">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item navtext-button">
                    <a class="nav-link " style="color:rgb(255, 255, 255);" href="#price-section">Price</a>
                </li>
                <li class="nav-item navtext-button">
                    <a class="nav-link" style="color:rgb(255, 255, 255);" href="#">Contact Us</a>
                </li>

                {% if user.is_authenticated %}
                <!-- Navbar text-->
                <li class="nav-item active navtext-button">
                    <a class="nav-link" style="color:rgb(255, 255, 255);">Welcome {{user.username}} </a>
                </li>
                <li class="nav-item active navtext-button">
                    <a class="btn btn-success " href="{% url 'settings' %}" style="color:rgb(255, 255, 255);">Settings </a>
                </li>
                <!-- LogOut-->
                <li class="nav-item active navtext-button">
                    <form action="{% url 'logoutuser' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-success bg-light" type="submit">
                            <span class="glyphicon glyphicon-user"></span>
                            Logout </button>
                    </form>
                </li>

                {% else %}
                <li class="nav-item active navtext-button"><a style="color:rgb(255, 255, 255);" href="{% url 'signupuser' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li class="nav-item active navtext-button"><a style="color:rgb(255, 255, 255);" href="{% url 'loginuser' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-----  Texto Explicativo  --- -->
<div class="jumbotron jumbotron-fluid">
    <div class="" style="padding-top:50px; padding-bottom: 150px">
        <p class="text-center" style="font-size: 40px;">
            We are a subscription service that gives you discounts at various businesses in your area
        </p>
        <br><br><br>
        <p class="text-center" style="font-size: 20px;">
            Save money and support local business
        </p>
    </div>
</div>

<!------Ventajas de discount city ----------->
<div class="container">
    <div class="card-group">
        <div class="card" style="border: 0;">
            <div class="card-body card-horizontal" style="display: flex; flex: 1 1 auto;">
                <div class="card-horizontal" style="display: flex; flex: 1 1 auto;">
                    <div class="img-square-wrapper">
                        <i class="bi bi-calculator  fa-6x"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><strong> HUNDREDS OF DOLLARS EVERY MONTH</strong></h4>
                        <p class="card-text">With this subscription you will get discounts in hundreds of places and special offers every month.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="border: 0;">
            <div class="card-body card-horizontal" style="display: flex; flex: 1 1 auto;">
                <div class="card-horizontal" style="display: flex; flex: 1 1 auto;">
                    <div class="img-square-wrapper">
                        <i class="bi bi-wallet2  fa-6x"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><strong> A SINGLE MEMBERSHIP WITH A LOT OF VALUE</strong>
                        </h4>
                        <p class="card-text">We are a group of local entrepreneurs who offer you excellent discounts on our products and services</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card" style="border: 0;">
            <div class="card-body card-horizontal" style="display: flex; flex: 1 1 auto;">
                <div class="card-horizontal" style="display: flex; flex: 1 1 auto;">
                    <div class="img-square-wrapper">
                        <i class="bi bi-credit-card-2-back  fa-6x"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><strong> GET MORE VALUE, EVERYWHERE</strong></h4>
                        <p class="card-text">We want you to have an excellent service from our community and we give you a discount so you can meet them</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card" style="border: 0;">
            <div class="card-body card-horizontal " style="display: flex; flex: 1 1 auto;">
                <div class="img-square-wrapper">
                    <i class="bi bi-bookmarks  fa-6x"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title"><strong>
                            SERVICES AND FOOD FROM YOUR COMMUNITY</strong></h4>
                    <p class="card-text">Here you will find a lot of discounts from restaurants and services near you... This way you'll support every local worker and place
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>


<!------Tabla de PRecios ----------->

<div class="container container-precios" id="price-section">
    <div class="text-center">
        <p style="font-size: 18px;"><em>I know, this sounds great and it’s still better, <a
                    href="{% url 'signupuser' %}"><strong> subscribe now
                    </strong></a> discounts city and receive all these benefits and more for a small price</em></p> <br>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-3">

        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card pricing-card pricing-card-highlighted  pricing-plan-pro">
                <div class="card-body">
                    <i class="bi bi-trophy fa-6x  pricing-plan-icon "></i>
                    <h2 class="pricing-plan-title">Family Member</h2>
                    <h4 class="pricing-plan-cost ml-auto">$1.99<small>/month</small></h4>
                    <ul class="pricing-plan-features">
                        <li style="margin-bottom: 14px;"><i class="check-icon bi bi-check"></i>Discounts city <strong><em>membership</em></strong>
                        </li>
                        <li style="margin-bottom: 14px;"><i class="check-icon bi bi-check"></i>Restaurant's <strong><em>discounts</em></strong></li>
                        <li style="margin-bottom: 14px;"><i class="check-icon bi bi-check"></i>Service's <strong><em>discounts</em></strong></li>
                        <li style="margin-bottom: 14px;"><i class="check-icon bi bi-check"></i><em><strong>Special offers</em></strong>
                        </li>
                    </ul>
                    <a href="{% url 'signupuser' %}" class="btn pricing-plan-purchase-btn">Purchase</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Photo Grid -->
<div class="container"><br>
    <div class="header text-center">
        <p>THIS ARE EXAMPLES OF PLACES WHERE YOU CAN GET A DISCOUNT</p>

    </div>


    {% for place in places_home %} {% if forloop.first %}
    <div class="row">{% endif %}
        <div class="col-3" style="padding-right: 5px; padding-left: 8px; ">
            <div class="card-deck">
                <div class="card rounded-4 " style="border-radius: 25px">
                    <a style="text-decoration:none" href="{% url 'place_detail' place.state place.slug %}">
                        {% if place.logo %} <img class="img-fluid" src="{{ place.logo.url }}" alt="..."
                            style="border-radius: 15px"> {% endif %}
                    </a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
    </div><br>
    <div class="row">{% endif %} {% if forloop.last %}</div>{% endif %} {% endfor %}

    <div class="text-center">
        <p><em>These were chosen at random, you can see more in </em> </p>
        <div class="card text-center pricing-plan-pro" style="border:0; max-width: 60rem; margin:auto; background: rgba(0, 0, 0, 0);">
            <a class="nav-link  text-black pricing-plan-pro btn pricing-plan-purchase-btn" href="{% url 'discounts_places' %}">Discounts Places</a>
        </div>
    </div>
    <br>
</div>
<hr>
<!---  Preguntas frecuentes ---->

<div class="container" style="padding-top:30px; padding-bottom: 50px">

    <h1 class="text-center" style="font-size: 30px;">FREQUENTLY ASKED QUESTIONS</h1>
    <br><br>
    <details>
        <summary>Where are the discounts?</summary>
        <p>In all the shops and services that are part of our family in any city, anywhere .. !!</p>
    </details>


    <details>
        <summary>What kind of discounts will I get??</summary>
        <p>if you buy your coffee at a local coffee shop they will discount 2 dlls and if you take your clothes to the dry cleaner they will discount 4 dlls, in 1 hour of 1 day you ALREADY saved 6 dlls, if with disconts city you save 6 dlls every day, at
            end of a year you will have $ 2,190 dlls or more</p>
    </details>



    <details>
        <summary>How many members does the discounts city family have?</summary>
        <p>At the moment we are a few hundred spread over five cities and each month we add more and more</p>
    </details>


    <details>
        <summary>Can my business be part of the discounts city family?</summary>
        <p>Yes, your store, restaurant or service can be part of our family, you can send us an email to discount.citys@gmail.com
        </p>
    </details>
</div>


<script>
    window.onscroll = function() {
        myFunction()
    };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>

{% endblock %}