<script>
    function initMap() {
        var location = { lat: 35.119909, lng: -106.611387 };
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 4,
            center: location,
            disableDefaultUI: true,
            styles: [{
                "featureType": "all",
                "elementType": "labels.text",
                "stylers": [{ "visibility": "off" }]
            },
            {
                "featureType": "all",
                "elementType": "labels.icon",
                "stylers": [{ "visibility": "off" }]
            }]
        });
        //call marker function
        {% for place in maps_qs %}
        var pname = '{{place.place.title}}';
        var plink = 'https://discountscitydemo.herokuapp.com/{{place.place.state}}/{{place.place.slug}}'
        addMarker({ lat: {{ place.latitud }}, lng: {{ place.longitud }} });
        {% endfor %}
        function addMarker(location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                label: "R",
            });
            const contentString =
                '<div id="content"> <div id="siteNotice"> </div>' + 
                '<h5 id="firstHeading" class="firstHeading"> <a href="'+plink+'">' +
                pname + '</a></h5></div>';
            var infowindow = new google.maps.InfoWindow({
                content: contentString,
            });
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
        }
    }


</script>
<script async defer
    
    src=  {{maps_key}}
    type="text/javascript"></script>