{% extends 'dashboard/base.html' %}


{% block content %}
<div class="main">
<div class="container" style="">
    <div class="title" >
        <h1>Dashboard</h1>
    </div>
    <div class="row">
        <div class="col-sm-5 card">
            <iframe src="{% url 'dash_user_list' %}" width="100%" height="500" style="border:none;"> </iframe>
        </div>

        <div class="col-sm-7 card">
            <iframe src="{% url 'dash_place_list' %}" width="100%" height="500" style="border:none; scroll-behavior: unset;"> </iframe>
        </div>

        
    </div>

    <div class="row">
        <div class="col-sm card">
            <iframe src="{% url 'maps' %}" width="100%" height="600" style="border:none;"> </iframe>
        </div>
        <div class="col-sm card">
            <iframe src="http://127.0.0.1:8000/list-place/" width="100%" height="400" style="border:none;"> </iframe>
        </div>
        <DIV>
    <IFRAME ID="frm" SRC="http://pluto.signage.me/WebService/SignagePlayerApp.html?eri=f7bee07a7e79c8f1d7951b4d24de4713c22f120c5eb9607b&playerParams=157f9b76890c050f9ab8a92feac804668a&banner=1" MARGINWIDTH="0" MARGINHEIGHT="0" FRAMEBORDER="0" SCROLLING="NO" 
      WIDTH="800" HEIGHT="400">
    </IFRAME> <BR>
    
  </DIV>
    </div>
</div>
</div>
{% endblock %}

